<div class="container">
    <div class="card" style="width: 500px;">
      <br>
      <img style="border-radius: 160px;width: 100px; height: 100px; " [src]="image" class="card-img-top" alt="Accroche HTML">
      <br>
      <div class="card-body">
        <div style="display: flex;"><h3 class="card-subtitle">FullName :</h3> <p><b>{{name}}</b></p> </div>
        <div style="display: flex;"><h3 class="card-subtitle">Phone Number :</h3> <p><b>{{phone}}</b></p> </div>
        <div style="display: flex;"><h3 class="card-subtitle">Email :</h3> <p><b>{{email}}</b></p> </div>
        <br>
          <div style="display: flex;justify-content: center;align-items: center;">
            <a href="/profile-details" class="btn btn-danger" style=" border-radius: 8px;background-color: orangered; ">Change Password</a>

          </div>
      </div>
    </div>
  </div>
  