<br>
<!-- Footer -->
<footer class="text-center text-lg-start bg-black text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span> Get connected with us on Social Networks : </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="#" class="me-4 link-light">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#" class="me-4 link-light">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#" class="me-4 link-light">
        <i class="bi bi-google"></i>
      </a>
      <a href="#" class="me-4 link-light">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#" class="me-4 link-light">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 text-light">
            <img src="./assets/images/logoo.jpg" width="30" height="25" class="rounded-circle mb-2"> Shoppy 
          </h6>
          <p>
            Available on download platforms for iPhone and Android.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <div class="footer-widget">
            <h4 class="mb-4 text-light">Category</h4>
            <ul class="pl-0 list-unstyled mb-0">
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
            </ul>
        </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <div class="footer-widget">
            <h4 class="mb-4 text-light">Useful Links</h4>
            <ul class="pl-0 list-unstyled mb-0">
              <li><a href="#">News &amp; Tips</a></li>
              <li><a href="about">About Us</a></li>
              <li><a href="shop">Our Shop</a></li>
              <li><a href="contact">Contact Us</a></li>
            </ul>
                </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-light mt-1"> Contact </h6>
          <p><i class="bi bi-house-door-fill me-3 text-secondary"></i> Tunis </p>
          <p>
            <i class="bi bi-envelope me-3 text-secondary"></i>
            support@shoppy.com
          </p>
          <p><i class="bi bi-phone me-3 text-secondary"></i> + 216 52 416 222 </p>
          <p><i class="bi bi-printer-fill me-3 text-secondary"></i> + 216 71 416 222 </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Shoppy.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  
  
 

         