<div class="col-md-10">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-4">
                <div class="wrapper">
          
                   <nav id="sidebar">
                      
                      <div class="title">
                        <a routerLink="/ahmin/home">

                            Shoppy 
                        </a>  
                       </div>
          
                      <a routerLink="/admin/home" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-house-gear-fill" style="color: #fb5c42;"></i><span class="fs-5 ms-2 d-none d-sm-inline" style="color: #fb5c42;"> Dashboard Admin </span>
                      </a>
          
                      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                           
                          <li>
                              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi bi-people-fill" style="color: #ffffff;"></i> <span class="account ms-1 d-none d-sm-inline"> Accounts Management </span> </a>
                              <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="displayuser" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="adduser" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Add User </span> </a>
                                  </li>
                              </ul>
                          </li>
                          
                          <li>
                              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi bi-bag-fill" style="color: #ffffff;"></i> <span class="product ms-1 d-none d-sm-inline"> Products Management </span></a>
                              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="displayproduct" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="addproduct" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Add Product </span> </a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi-grid" style="color: #ffffff;"></i> <span class="category ms-1 d-none d-sm-inline"> Categories Management </span> </a>
                                  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="admin/displaycategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="admin/addcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Add Category </span> </a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                <i class="fs-6 bi bi-app-indicator" style="color: #ffffff;"></i> <span class="category ms-1 d-none d-sm-inline"> SubCategories Management </span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/displaysubcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Display </span> </a>
                                </li>
                                <li>
                                    <a href="admin/addsubcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Add Category </span> </a>
                                </li>
                            </ul>
                        </li>
                          <!-- <li>
                            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                <i class="fs-6 bi bi-cart-fill" style="color: #ffffff;"></i> <span class="order ms-1 d-none d-sm-inline"> Orders Management </span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="orders-management" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #fb5c42; margin-left: 35px;"> Display </span> </a>
                                </li>
                            </ul>
                        </li> -->
          
                        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-gear-fill" style="color: #fb5c42;"></i><span class="fs-5 ms-2 d-none d-sm-inline" style="color: #fb5c42;"> Settings </span>
                        </a>
          
                        <a href="admin/profile" class="nav-link px-0 align-middle" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-person-lines-fill" style="color: #ffffff;"></i><span class="ms-1 d-none d-sm-inline" style="color: #ffffff;"> Personal Informations </span>
                        </a>
          
                        <a (click)="logout()"  href="/" class="nav-link px-0 align-middle mt-1" style="margin-left: 15px;">
                          <i  class="fs-6 bi bi-box-arrow-right" style="color: #ffffff;"></i><span class="ms-1 d-none d-sm-inline" style="color: #ffffff;"> Log Out </span>
                        </a>
          
                      </ul>
                      
                   </nav>
                   </div>
                
          
          </div>  
          