<app-header></app-header>

<br>

<div style="padding-top: 7%;">
<div class="row justify-content-center">
    <div class="flip-card">
     <div class="flip-card-inner">
       <div class="flip-card-front rounded">
          <img src="./assets/images/question2.png" style="width:600px; height:400px;" class="card-img mt-3"> 
        </div>
          <div class="flip-card-back rounded border border-secondary pt-1">
            <div class="">
                <label class="text-dark"> FAQ </label>
            <h1> <span> Frequently Asked Questions </span> </h1>
            </div>
            <div class="content same__space d-flex p-5">
                <div class="d-flex flex-column mb-3">
                    <div class="text-dark" style="text-align: justify; text-align: left;">
                        <h5 class="card-title"> What if the item received is defective ?
                        </h5>
                        <p class="card-text text-break text__width">
                            In case of defect of the article, you simply send us by email the photos.
                            In less than 24 hours, a delivery person will pick up the item from your home to return it to the seller and you will be reimbursed for all expenses incurred.
                        <p>
                    </div>
                    <div class="text-dark" style="text-align: justify; text-align: left;">
                        <h5 class="card-title"> What payment methods are accepted ?
                        </h5>
                        <p class="card-text text-break text__width">
                            You can pay in Cash, by Credit Card, by E-dinar Card or via the Runpay terminals available everywhere in Tunisia.
                        <p>
                    </div>
                </div>
                <div class="d-flex flex-column mb-3">
                    <div class="text-dark" style="text-align: justify;">
                        <h5 class="card-title"> Should I go to the Post Office to sell or buy ?
                        </h5>
                        <p class="card-text text-break text__width">
                            No, a courier will come to your door to pick up or deliver an item to you. 
                            The delivery and the collection of article is done on all the Tunisian territory without exception.
                        <p>
                    </div>
                    <div class="text-dark" style="text-align: justify;">
                        <h5 class="card-title"> Is my private information protected ?
                        </h5>
                        <p class="card-text text-break text__width">
                            Your private information (telephone number, address, age, account number, identity card number, etc.) is carefully kept in our databases and is not disclosed or sold to any third party, or even to other users. 
                        <p>
                    </div>
                </div>
                <div></div>
            </div> 
          
          </div>
        </div>
       </div>
      </div>
      </div>
      <br>
      <br>

