


      <div class="col-md-10">
        <table class="table table-bordered" style="background-color: rgb(255, 255, 255); margin-top: 150px;">
            <thead>
              <tr>
                <th scope="col"><div class="text-black">ID</div></th>
                <th scope="col"><div class="text-black">Date</div></th>
                <th scope="col"><div class="text-black">Status</div></th>
                <th scope="col"><div class="text-black">Total</div></th>
                <th scope="col"><div class="text-black">Action</div></th>
            </tr>
            </thead>
            <tbody >
              <tr>
                <td scope="col"><div class="text-black">1</div></td>
                <td scope="col"><div class="text-black">January 8, 2023</div></td>
                <td scope="col"><div class="text-black">Completed</div></td>
                <td scope="col"><div class="text-black">20</div></td>
                <td><button class="btn btn-danger rounded">delete</button></td>
            </tr>

            <tr>
                <td scope="col"><div class="text-black">2</div></td>
                <td scope="col"><div class="text-black">January 9, 2023</div></td>
                <td scope="col"><div class="text-black">Pending</div></td>
                <td scope="col"><div class="text-black">30</div></td>
                <td><button class="btn btn-danger rounded">delete</button></td>
            </tr>

            <tr>
                <td scope="col"><div class="text-black">3</div></td>
                <td scope="col"><div class="text-black">January 10, 2023</div></td>
                <td scope="col"><div class="text-black">Completed</div></td>
                <td scope="col"><div class="text-black">25</div></td>
                <td><button class="btn btn-danger rounded">delete</button></td>
            </tr>
              
            </tbody>
          </table>
        </div>
       





