<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card border-dark" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/login3.png"
                alt="login form" class="img-fluid mt-5 pt-5" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                  <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="display-4 fw-bold mb-0"> Log In </span>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="showAlert">
                    {{err}}
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"> Email Address </label>
                    <input formControlName="email" type="email" class="form-control form-control-lg rounded" />
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched) ">
                    <div *ngIf="myForm.controls.email.hasError('required')">
                      Email is required.
                    </div>
                    <div *ngIf="myForm.controls.email.hasError('email')">
                      Invalid email format.
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label  class="form-label" for="form2Example27"> Password </label>
                    <input formControlName="password" type="password" class="form-control form-control-lg rounded" />
                  </div>
                  <div class="alert alert-danger" role="alert"  *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                    <div >Password is required</div>
                  </div>
                  <div class="form-row text-center">
                    <div class="col-12">
                       <button style="display: center; border-radius: 8px;" type="submit" class="btn" [disabled]="myForm.invalid"> LogIn </button>
                    </div>
                  </div>

                  <a class="small text-muted" href="#!"> Forgot password? </a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;"> Don't have an account? <a href="signup"
                      style="color: #393f81;"> Register here </a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



