<app-header></app-header>

<div style="padding-top: 7%;">
<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card border-dark" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="display-4 fw-bold mb-0"> Contact Us </span>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"> Name </label>
                    <input type="email" id="form2Example17" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Email </label>
                    <input type="password" id="form2Example27" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Subject </label>
                    <input type="password" id="form2Example27" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label fw-bold"> Message </label>
                    <textarea type="text" class="form-control" id="exampleFormControlInput1" placeholder="Message"></textarea>
                  </div>

                  <div class="form-row text-center">
                    <div class="col-12">
                       <button style="display: center; border-radius: 8px;" type="submit" class="btn"> Send </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/contact2.png"
                alt="login form" class="img-fluid mt-5 pt-5" style="border-radius: 1rem 0 0 1rem;" /> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<br>
<br>
<br>



