
<div style="padding-top: 7%;">
<br>
  <section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card border-dark" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 mt-4 d-none d-md-block">
                <img src="assets/images/Forms2.png"
                  alt="login form" class="img-fluid mt-5 pt-5" style="border-radius: 1rem 0 0 1rem;" />
              </div>

              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form [formGroup]="myForm" (ngSubmit)="updates()">
                    <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">

                      <div class="text-center heading">
                        <h2 class="mb-2 display-4 fw-bold"> Edit Password </h2>
                      </div>
  
                    </div>
  
                    <!-- <div class="tab-pane fade show active" id="settings" role="tabpanel" >
                      <div class="acccount-settings">
                        <h4 class="mb-4 fw-bold">Account Information</h4> -->

          
                          <h4 class="fw-bold"> Password Change</h4>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17"> Current password </label>
                            <input type="password" id="form2Example17" class="form-control form-control-lg rounded" formControlName="currentPassword"/>
                          </div>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17"> New password </label>
                            <input type="password" id="form2Example17" class="form-control form-control-lg rounded" formControlName="password"/>
                          </div>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17"> Confirm password </label>
                            <input type="password" id="form2Example17" class="form-control form-control-lg rounded" formControlName="passwordConfirm"/>
                          </div>

                          <br>
                          <div class="form-row text-center">
                            <div class="col-12">
                               <button style="display: center; border-radius: 8px;" type="submit" class="btn"> Save Changes </button>
                          </div>
                          </div>
                        
                      <!-- </div>
                    </div> -->
  
                  </form>
  
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  