<app-header></app-header>

<div style="padding-top: 7%;">
<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card border-dark" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">
                    <i class="fas fa-cubes fa-2x mb-2" style="color: #ff6219;"></i>

                    <div class="text-center heading">
                      <h2 class="mb-2 display-4 fw-bold"> Update your Product </h2>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for="item_name"> Item Name </label>
                          <input type="text" class="form-control form-control-lg rounded" />
                       </div>
                    </div>

                    <div class="col-lg-12">
                       <div class="form-group mb-4">
                         <label for="Category"> Category </label>
                         <input type="text" class="form-control form-control-lg rounded" />                           </div>
                   </div>

                   <div class="col-lg-12">
                       <div class="form-group mb-4">
                         <label for="Matter"> Matter </label>
                         <input type="text" class="form-control form-control-lg rounded" />                           </div>
                   </div>

                   <div class="col-lg-12">
                       <div class="form-group mb-4">
                         <label for="Color"> Color </label>
                         <input type="text" class="form-control form-control-lg rounded" />                           </div>
                   </div>

                   <div class="col-lg-12">
                       <div class="form-group mb-4">
                         <label for="State"> State </label>
                         <input type="text" class="form-control form-control-lg rounded" />                           </div>
                   </div>

                   <div class="col-lg-12">
                       <div class="form-group mb-4">
                         <label for="Description"> Description </label>
                         <textarea class="form-control" id="msg" cols="30" rows="5"></textarea>
                      </div>
                   </div>

                   <div class="col-lg-12">
                      <label for="Size"> Size </label>
                      <br>
                      <div class="form-check form-check-inline">
                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                       <label class="form-check-label" for="inlineRadio1"> L </label>
                     </div>
                     
                     <div class="form-check form-check-inline">
                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                       <label class="form-check-label" for="inlineRadio2"> M </label>
                     </div>
                     
                     <div class="form-check form-check-inline">
                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                       <label class="form-check-label" for="inlineRadio3"> S </label>
                     </div>

                     <div class="form-check form-check-inline">
                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                       <label class="form-check-label" for="inlineRadio3"> XS </label>
                     </div>
                   </div>
                 </div>

                 
                <br>
                <div class="Price">
                    <h4 class="mb-4 border-bottom pb-4"> Price </h4>
                    
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="selling_price"> Selling Price </label>
                                <input type="text" class="form-control form-control-lg rounded" />
                             </div>
                          </div>
 
                          <div class="col-lg-12">
                             <div class="form-group mb-4">
                               <label for="original_price"> Original Price </label>
                               <input type="text" class="form-control form-control-lg rounded" />                           </div>
                             </div>   
                          </div>
                          
                    </form>
                 </div>

                 <div class="form-row text-center">
                    <div class="col-12">
                       <button style="display: center; border-radius: 8px;" type="submit" class="btn"> Update </button>
                    </div>
                 </div>

                </form>

              </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/update2.png"
                alt="login form" class="img-fluid pt-5" style="border-radius: 1rem 0 0 1rem; margin-top: 120px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>




