.btn  {
    background-color: #fb5c42;
    color: white;  
    font-size: 15px;
    padding: 10px;
    margin-left: 10px;
}

.btn1  {
    background-color: #b4b3b3;
    color: black;  
    font-size: 15px;
    padding: 10px;
    margin-left: 10px;
}