
<div style="padding-top: 100px;">
<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card border-dark" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                  <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">
                    <i class="fas fa-cubes fa-2x mb-2" style="color: #ff6219;"></i>

                    <div class="text-center heading">
                      <h2 class="mb-2 display-4 fw-bold"> Sign Up </h2>
                      <p class="lead"> Already have an account ? <a routerLink="/login"> LogIn now </a></p>
                    </div>

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"> Enter Email Address </label>
                    <input formControlName="email" type="email" id="form2Example17" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)">
                    <div *ngIf="myForm.controls.email.hasError('required')">email is required</div>
                    <div *ngIf="myForm.controls.email.hasError('email')">email is Invalid</div>

                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Enter UserName </label>
                    <input formControlName="name" type="text" id="form2Example27" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.name.invalid && (myForm.controls.name.dirty || myForm.controls.name.touched)">
                    <div *ngIf="myForm.controls.name.hasError('required')">name is required</div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Enter Password </label>
                    <input formControlName="password" type="password" id="form2Example28" class="form-control form-control-lg rounded" />
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                    <div *ngIf="myForm.controls.password.hasError('required')">Password is required</div>
                    <div *ngIf="myForm.controls.password.hasError('minlength')">Password minlength is 6</div>

                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Confirm Password </label>
                    <input formControlName="passwordConfirm" type="password" id="form2Example29" class="form-control form-control-lg rounded" />
                  </div>
                  <div class="alert alert-danger" *ngIf="myForm.controls.passwordConfirm.invalid && (myForm.controls.passwordConfirm.dirty || myForm.controls.passwordConfirm.touched) ">
                    <div *ngIf="myForm.controls.passwordConfirm.hasError('required')">Password Confirm is required</div>
                    <div *ngIf="myForm.controls.passwordConfirm.hasError('minlength')">Password Confirm minlength is 6</div>

                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"> Phone </label>
                    <input formControlName="phone" type="number" id="form2Example29" class="form-control form-control-lg rounded" />
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.phone.invalid && (myForm.controls.phone.dirty || myForm.controls.phone.touched) ">
                    <div *ngIf="myForm.controls.phone.hasError('required')">phone is required</div>
                  </div>
                  <input type="file" name="picture" (change)="onFileSelectedd($event,10)">
                  <div class="alert alert-danger" role="alert" *ngIf="myForm.controls.phone.invalid && (myForm.controls.phone.dirty || myForm.controls.phone.touched) ">
                    <div *ngIf="myForm.controls.phone.hasError('required')">picture is required</div>
                  </div>
                  <br>
                  <br>
                  <div class="form-row text-center">
                    <div class="col-12">
                      <button style="display: center; border-radius: 8px;" type="submit" class="btn" > SignUp </button>
                    </div>
                  </div>
                  
                </form>
                
              </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/images/signup.png"
              alt="login form" class="img-fluid mt-5 pt-5" style="border-radius: 1rem 0 0 1rem;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<div *ngFor="let item of ali">

  {{item.msg}}
</div>