
<div style="background-color: rgb(238, 238, 238);">
<div class="col-md-8" style="margin-left: 300px;">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3" style="margin-top: 100px; margin-left: 25px;">
            <div class="card bg-c-orange1 order-card" style="width: 320px;">
                <div class="card-block">
                    <h6 class="m-b-20">Accounts Received</h6>
                    <h2 class="text-right mt-2"><i class="bi bi-people-fill f-left"></i><span style="margin-left: 20px;">{{un}}</span></h2>
                    <p class="m-b-0">Jan - March 2023</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3" style="margin-top: 100px; margin-left: 98px;">
            <div class="card bg-c-orange2 order-card" style="width: 320px;">
                <div class="card-block">
                    <h6 class="m-b-20">Products Received</h6>
                    <h2 class="text-right mt-2"><i class="fa fa-cart-plus f-left"></i><span style="margin-left: 20px;">{{pn}}</span></h2>
                    <p class="m-b-0">Jan - March 2023</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3" style="margin-top: 100px; margin-left: 98px;">
            <div class="card bg-c-orange3 order-card" style="width: 320px;">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right mt-2"><i class="bi bi-cash-stack f-left"></i><span style="margin-left: 20px;">30</span></h2>
                    <p class="m-b-0">Jan - March 2023</p>
                </div>
            </div>
        </div>
    
    </div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
<div class="card" style="width: 500px; margin-left: 325px; height: 400px; align-items: center;">
<div class='title mt-3'>
<p class="name fw-bold fs-5">Product Sales</p>
<p class="name">Total Earnings of the Year</p>
</div>
<br>
<svg class='container' width="529px" height="286px" viewBox="30 27 529 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(30.000000, 27.000000)">
      <g id="y_axis" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#000000" opacity="0.4" font-weight="normal">
          <text id="0">
              <tspan x="25.3008249" y="264.333333">0</tspan>
          </text>
          <text id="200">
              <tspan x="12.7757572" y="232.666667">200</tspan>
          </text>
          <text id="400">
              <tspan x="12.7757572" y="201">400</tspan>
          </text>
          <text id="600">
              <tspan x="12.7757572" y="169.333333">600</tspan>
          </text>
          <text id="800">
              <tspan x="12.7757572" y="137.666667">800</tspan>
          </text>
          <text id="1000">
              <tspan x="6.51322328" y="106">1000</tspan>
          </text>
          <text id="1200">
              <tspan x="6.51322328" y="74.3333333">1200</tspan>
          </text>
          <text id="1400">
              <tspan x="6.51322328" y="42.6666667">1400</tspan>
          </text>
          <text id="1600">
              <tspan x="6.51322328" y="11">1600</tspan>
          </text>
      </g>
      <g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8" stroke-linejoin="round">
          <polyline id="Banks" stroke="#fd634b" points="0 1 88.0438662 1 128.985782 137 180.170616 137 224.189573 182 256.947867 91 301.990521 137 346.009479 91 392.087202 91 429.952607 179"></polyline>
          <polyline id="Bridge" stroke="#f08574" points="2.04739336 183 54.2559242 227 96.2274882 47 133.080569 1 302.018438 1 346.680361 44.6280822 386.957346 0 427.905213 43"></polyline>
          <polyline id="PayPal" stroke="#ffa092" points="2.04739336 180 53.273159 180 99.2985782 91 137.175355 47 219.077488 47 256.947867 90 301.990521 47 349.080569 137 398.228672 137 432 91"></polyline>
      </g>
      <g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#000000" opacity="0.4" font-weight="normal">
          <text id="1">
              <tspan x="0.396183206" y="11">1</tspan>
          </text>
          <text id="2">
              <tspan x="39.2603361" y="11">2</tspan>
          </text>
          <text id="3">
              <tspan x="78.8786567" y="11">3</tspan>
          </text>
          <text id="4">
              <tspan x="118.496977" y="11">4</tspan>
          </text>
          <text id="5">
              <tspan x="158.115298" y="11">5</tspan>
          </text>
          <text id="6">
              <tspan x="197.733619" y="11">6</tspan>
          </text>
          <text id="7">
              <tspan x="237.351939" y="11">7</tspan>
          </text>
          <text id="8">
              <tspan x="276.97026" y="11">8</tspan>
          </text>
          <text id="9">
              <tspan x="316.58858" y="11">9</tspan>
          </text>
          <text id="10">
              <tspan x="359.229833" y="11">10</tspan>
          </text>
          <text id="11">
              <tspan x="400.036703" y="11">11</tspan>
          </text>
          <text id="12">
              <tspan x="438.466474" y="11">12</tspan>
          </text>
      </g>
      <g id="grid" transform="translate(46.618321, 4.750000)" stroke="#FFFFFF" stroke-linecap="square" opacity="0.0800000057">
          <path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
          <path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
          <path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
          <path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
          <path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
          <path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
          <path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
          <path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
          <path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
      </g>
  </g>
</svg>
</div>
</div>

<div class="col-lg-6">
<div class="card" style="width: 450px; margin-left: 170px; height: 400px;">
<div class='title mt-3'>
    <p class="name fw-bold fs-5" style="margin-left: 170px;">Feedbacks</p>
    <p class="name" style="margin-left: 170px;">Of Clients</p>
</div>
<div class="row">
<div class="col-lg-6" style="margin-top: 15px;">
    <div class="pie no-round" style="--p:70;--c:#fa5941;--b:8px; width: 140px; margin-left: 40px; font-size: 17px;"> Very Satisfied </div>
    <div class="pie no-round mt-2" style="--p:50;--c:#c45543;--b:8px; width: 140px; margin-left: 40px; font-size: 17px;"> Unsatisfied </div>
</div>

<div class="col-lg-6" style="margin-top: 15px;">
    <div class="pie no-round" style="--p:60;--c:#ff7965;--b:8px; width: 140px; font-size: 17px;"> Satisfied </div>
    <div class="pie no-round mt-2" style="--p:30;--c:#000000;--b:8px; width: 140px; font-size: 16px;">
         Very <br>
         Unsatisfied 
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="card" style="width: 970px; margin-left: 325px; height: 400px;">

<table class="graph" style="width: 900px;">
    <div class='title mt-3'>
        <p class="name fw-bold fs-5" style="margin-left: 10px;">Order Summary</p>
    </div>
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Percent</th>
        </tr>
    </thead><tbody>
        <tr style="height:85%">
            <th scope="row">January</th>
            <td><span>85%</span></td>
        </tr>
        <tr style="height:23%">
            <th scope="row">February</th>
            <td><span>23%</span></td>
        </tr>
        <tr style="height:7%">
            <th scope="row">March</th>
            <td><span>7%</span></td>
        </tr>
        <tr style="height:38%">
            <th scope="row">April</th>
            <td><span>38%</span></td>
        </tr>
        <tr style="height:35%">
            <th scope="row">May</th>
            <td><span>35%</span></td>
        </tr>
        <tr style="height:30%">
            <th scope="row">June</th>
            <td><span>30%</span></td>
        </tr>
        <tr style="height:65%">
            <th scope="row">July</th>
            <td><span>65%</span></td>
        </tr>
        <tr style="height:50%">
            <th scope="row">August</th>
            <td><span>50%</span></td>
        </tr>
        <tr style="height:40%">
            <th scope="row">September</th>
            <td><span>40%</span></td>
        </tr>
        <tr style="height:20%">
            <th scope="row">October</th>
            <td><span>20%</span></td>
        </tr>
        <tr style="height:30%">
            <th scope="row">November</th>
            <td><span>30%</span></td>
        </tr>
        <tr style="height:10%">
            <th scope="row">December</th>
            <td><span>10%</span></td>
        </tr>
       
    </tbody>
</table>

</div>


<br> 

</div>

<p style="text-align: center; margin-left: 250px;">
Copyright © Designed & Developed by SHOPPY 2023
</p>




 



