<app-header></app-header>

<div style="padding-top: 7%;">
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #000000 !important;">
            <div class="card-body p-5">
  
              <div class="text-center">
              <p class="lead fw-bold mb-5 fs-3" style="color: #fb5c42;">Purchase Reciept</p>
              </div>
  
              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p>10 April 2021</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p>#1012</p>
                </div>
              </div>
  
              <div class="mx-n5 px-5 py-4 rounded" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p>Shirt</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p>299.99 DT</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Shipping</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p class="mb-0">free</p>
                  </div>
                </div>
              </div>
  
              <div class="row my-4">
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                  <p class="lead fw-bold mb-0" style="color: #fb5c42;">262.99 DT</p>
                </div>
              </div>
  
              <p class="lead fw-bold mb-4 pb-2" style="color: #fb5c42;">Tracking Order</p>
  
              <div class="row">
                <div class="col-lg-12">
  
                  <div class="horizontal-timeline">
  
                    <ul class="list-inline items d-flex justify-content-between">
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #fb5c42;">Ordered</p>
                      </li>
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #fb5c42;">Shipped</p>
                      </li>
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #fb5c42;">On the way
                        </p>
                      </li>
                      <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                        <p style="margin-right: -8px;">Delivered</p>
                      </li>
                    </ul>
  
                  </div>
  
                </div>
              </div>
  
              <div class="text-center">
              <p class="mt-4 pt-2 mb-0">Want any help? <a href="contact" style="color: #fb5c42;">Please contact
                  us</a></p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
