
<form>
    <div class="col-md-10" style="margin-left: 300px;">
        <table class="table table-bordered" style="background-color: rgb(255, 255, 255); margin-top: 150px;">
            <thead>
                <tr scope="col"><h1>All Category</h1></tr>
              <tr>
                <th scope="col"><div class="text-black">ID</div></th>
                <th scope="col"><div class="text-black">Categorie Name</div></th>
                <th scope="col"><div class="text-black" style="width: 200px;">Action</div></th>
            </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of arr | paginate: { itemsPerPage: 3, currentPage: p };let index=index;let i as index">
                <td><div class="text-black">{{index+1}}</div></td>
                <td><div class="text-black">{{item.name}}</div></td>
              
                <td style="display: flex; justify-content: space-around;"> 
                    <a  [routerLink]="['/admin/updatecategories/',item._id]">
                        <button style="display: center; border-radius: 8px;" type="button" class="btn1 btn-info"> Update </button>
                      </a>
                      <button class="btn btn-danger rounded" (click)="deleteCat(i)">delete</button></td>
              </tr>
        
             
              </tbody>
              
        </table>
        <br><br><br>
        <div style="display: flex; justify-content: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
</form>
